body {
    background-color: rgb(92, 92, 92);
}

h1 {
    color: rgb(2, 96, 139);
}

form {
    max-width: 500px;
    text-align: center;
    background-color: azure;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(206, 134, 254);
}

#temperatureInput {
    text-align: center;
    width: 30%;
    font-size: 2em;
    border: 2px solid rgba(0, 0, 0, 0.567);
    border-radius: 5px;
    margin-bottom: 20px;
}

label {
    font-size: 1.2em;
    font-weight: bold;
}

button {
    margin-top: 15px;
    background-color: rgba(206, 26, 26, 0.6);
    font-size: 1.5em;
    color: aliceblue;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(206, 26, 26, 0.9);
}

#result{
    font-size: 1.75em;
    font-weight: bold;
}